# ========================
# Ambiente virtual
# ========================
venv/
.env

# ========================
# Cache do Python
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd

# ========================
# Logs
# ========================
*.log
.kivy/

# ========================
# PyInstaller (builds)
# ========================
build/
dist/
*.spec

# ========================
# Arquivos de sistema (Windows/macOS)
# ========================
Thumbs.db
.DS_Store

# ========================
# IDEs / Editores
# ========================
.vscode/
.idea/
